*.DS_Store
*.go-basic.obo
*.gene2go.txt
celloracle/__pycache__
celloracle/__pycache__/*
celloracle/*/__pycache__
celloracle/chip_analysis
nohup.out
*/nohup.out
*/*/nohup.out
docs/notebooks/04_Network_analysis/links.celloracle.links
docs/notebooks/*/figures
docs/_build
docs/_build/*
