*.DS_Store
*.go-basic.obo
*.gene2go.txt
celloracle/__pycache__
celloracle/__pycache__/*
celloracle/*/__pycache__
celloracle/*/*/__pycache__
celloracle/chip_analysis
nohup.out
*/nohup.out
*/*/nohup.out
docs/notebooks/04_Network_analysis/links.celloracle.links
docs/notebooks/*/figures
docs/_build
docs/_build/*
celloracle.egg-info
docs/notebooks/01_ATAC-seq_data_processing/option1_scATAC-seq_data_analysis_with_cicero/data/*
*/matrix.tar.gz
docs/no_share.py
docs/conf.py
build
build/*
build/*/*
build/*/*/*
dist
dist/*
.pytest_cache
.pytest_cache/*
.pytest_cache/*/*
.cache/
.cache/*
.cache/*/*
.cache/*/*/*
.cache/*/*/*/*
