include LICENSE
include requirements.txt
exclude docs
exclude docs/*
exclude docs/*/*
exclude docs/*/*/*
exclude docs/*/*/*/*
exclude docs/*/*/*/*/*
exclude docs/*/*/*/*/*/*
exclude docs/*/*/*/*/*/*/*
exclude other_files
exclude other_files/*
exclude other_files/*/*
exclude other_files/*/*/*
exclude other_files/*/*/*/*
exclude other_files/*/*/*/*/*
exclude celloracle/data/TFinfo_data/*
exclude celloracle/data/promoter_base_GRN/*
exclude celloracle/data/tutorial_data/*
exclude celloracle/data/motif_data/*
exclude celloracle/data/anndata/*
