numpy
scipy
cython
numba>=0.50.1
matplotlib
seaborn
scikit-learn
h5py>=3.1.0
pandas>=1.0.3
velocyto>=0.17
umap-learn
pyarrow>=0.17
tqdm>=4.45
igraph>=0.10.1
louvain
jupyter
anndata>=0.7.5
scanpy>=1.6
joblib
goatools
genomepy>=0.8.4
gimmemotifs>=0.14.4
